html,
body {
    background-color: white;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

header {
    background-color: navy;
    margin-bottom: 50px;
}

.logo {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
}

.login-btn {
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 500px;
}

.div-informasi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.label-login {
    width: 100px;
}

.toRegister {
    padding-top: 20px;
    display: block;
    width: 400px;
    margin: auto;
}

.login-btn {
    display: block;
    width: 100px;
    margin: auto;
    margin-bottom: 35px;
}

.box {
    padding-top: 35px;
    margin-top: 75px;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    margin-left: 25px;
    display: block;
    margin: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }

.test {
    display: flex;
    justify-content: left;
}

.ini-div {
    display: flex;
    justify-content: right;
}

.logout {
    margin-left: 10px;
}

.img-thumbnail
{
    height: 200px;
    width: 100%;
    object-fit: stretch;
}

.judul-smartphones {
   margin-top: 15px;
}

.ini-card {
    height: 500px;
    margin-top: 25px;
}

.judul-laptops {
    margin-top: 20px;
}

.detail-picture {
    height: 500px;
    width: 100%;
    object-fit: unset;
}

.garis {
    margin-right: 25px;
    margin-left: 25px;
    border-width: 3px;
    border-color: black;
}

.button-price {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    width: 250px;
    align-items: center;
}

.ini-text {
    align-items: center;
    justify-content: center;
    right: 0;
    position: absolute;
}

.rating {
    height: 120px;
    bottom: 0;
    position: absolute;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-text {
    margin-left: 5px;
}

.stock {
    height: 85px;
    bottom: 0;
    position: absolute;
    margin-left: 5px;
}

.rating-stock {
    display: flex;
    align-items: center;
}

.info-stock {
    margin-left: 10px;
}

.bintang {
    display: flex;
    align-items: center;
    height: 30px;
}

.title-laptop {
    margin-bottom: 10px;
}

.add-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.back-home {
    text-decoration: none;
    color: black;
    left: 0;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
}

.first {
    margin-top: 50px;
    display: flex;
}

.ini-alert {
 margin-top: 25px;
 height: 60px;
}

.alert-message {
    align-self: center;
    justify-content: center;
    text-align: left;
    font-weight: bold;
}

.rating-detail {
    margin-left: 3px;
}

.history-element {
    border-width: 0px;
    width: 70px;
    background-color: white;
}

.navigasi {
    padding-left: 10px;
    padding-right: 10px;
}

.add-to-cart-button {
    margin-left: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 120px;
}
